# ![USD→INR](https://img.shields.io/badge/USD%20to%20INR-82.34-blue)

**Date:** {{ date }}

| Base | Target | Rate  |
|:----:|:------:|:-----:|
| USD  | INR    | {{ rate }} |

_Last updated: {{ date_time }}_
